{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="wow fadeInUp shadow p-5 bg-light rounded" data-wow-delay="0.1s">
                    <h2 class="text-center mb-4 text-primary">Reset Your Password</h2>
                    <form action="{% url 'reset_password' uidb64=uid token=token %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="password" class="form-label">New Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your new password" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100 py-2">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
