# .env file
.env

# Python cache files
__pycache__/
*.py[cod]

dpl/settings.py
# Django specific
db.sqlite3
/media
/static

# IDE files
.vscode/
.idea/
staticfiles
static
# Log files
*.log

# Virtual environments
venv/
.env/

staticfiles
static
media

