# .env file
.env

# Python cache files
__pycache__/
*.py[cod]

# Django specific
db.sqlite3
/media
/static

# IDE files
.vscode/
.idea/

# Log files
*.log

# Virtual environments
venv/
.env/

staticfiles
static
media

