 <!-- Footer Start -->
    <div class="container-fluid bg-dark footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-1">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Head Office</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Damak-8, Jhapa</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+977 9801443513</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>contact@dpl.org.np</p>
                    <div class="d-flex pt-3">
                        <a class="btn btn-square btn-primary rounded-circle me-2" href="https://www.facebook.com/dpllibrary/"><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary rounded-circle me-2" href="https://www.facebook.com/dpllibrary/"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary rounded-circle me-2" href="https://www.facebook.com/dpllibrary/"><i
                                class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-primary rounded-circle me-2" href="https://www.facebook.com/dpllibrary/"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Quick Links</h5>
                    <a class="btn btn-link" href="#">Become a member</a>
                    <a class="btn btn-link" href="#">Donate</a>
                    <a class="btn btn-link" href="{% url 'terms_conditions' %}">Terms & Conditions</a>
                    <a class="btn btn-link" href="{% url 'privacy_policy' %}">Privacy Policy</a>
                    <a class="btn btn-link" href="{% url 'cookie' %}">Cookie Policy</a>
                </div>

                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Opening Hours</h5>
                    <p class="mb-1">All Day</p>
                    <h6 class="text-light">06:00 am - 08:00 pm</h6>

                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Newsletter</h5>
                    <p>Sign up for Newsletter</p>
                    <div class="position-relative w-100">
                        <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text"
                            placeholder="Your email">
                        <button type="button"
                            class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Copyright Start -->
    <div class="container-fluid copyright bg-dark py-2">
        <div class="container text-center">
            <p class="mb-2">Copyright &copy; <a class="fw-semi-bold" href="{% url 'home' %}">Dynamic Public Library</a>, All Right Reserved.
            </p>
            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
            <p class="mb-0">Designed and Developed By <a class="fw-semi-bold" href="https://www.linkedin.com/in/upretybnd/">Binod Uprety</a></p>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
            class="bi bi-arrow-up"></i></a>

 <style>
     .footer {
    padding-top: 1.5rem !important; /* Adjust padding to your preference */
    padding-bottom: 1.5rem !important;
}

.copyright {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    margin-top: 0 !important; /* Optional: To remove extra gap above copyright */
}

 </style>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>